kepek/
progs/
images/
gyakorlat/
*.fodt
*.pdf
*.odt
*.bak
adatbazis_I/draft/
ikt_projektmunka_I/draft/
ikt_projektmunka_II/draft/
info_tavkoz_II/draft/
webprog/draft/
backend/jegyzet.txt
frontend/jegyzet.txt
teszteles/draft/
asztali_mobil/feladatok/
todo.txt
