kepek/
progs/
*.fodt
*.pdf
*.odt
*.jpg
*.jpeg
*.bak
adatbazis_I/draft/
info_tavkoz_II/draft/
webprog/draft/
backend/jegyzet.txt
teszteles/draft/
asztali_alkalmazas/11_GUI_Swing.md
asztali_alkalmazas/12_GUI_Netbeans.md
todo.txt
